body{
	margin:0;
}

header

{
	background:black;
	color:white;
	 padding:8px,0px,6px,40px;
	 height:60px;
}
header h1
{
	display:inline;
	fontsize:32px;
	float:left;
	margin-top:0px;
	margin-right:10px;
	
	
}

	

nav ul li{
	display:inline;
	display:inline-block;
	list.style type :none;
	margin-left:60px;
	
	
}
	nav ul li a{
		color:white;
		text-decoration:none;
	}
	.homered{
		background-color:red;
		padding:5px,10px,16px,10px;
		
	}
	.divider{
		background-color:red;
		height:5px;
	}
	.homeblack:hover{
		background-color:blue;
		padding:5px,10px,160px,10px;
		
	}